*.log
dist/*
*.ipr
*.iws

# SBT
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# IDE
.idea/
.idea_modules/
/.classpath
/.project
/.settings
/.cache
/*.iml
.scala_dependencies

# intellij idea migration files
/*/projectFilesBackup/